<?xml version="1.0"?>
<config>
    <modules>
        <Magegiant_Magegiantcore>
            <version>0.1.3</version>
        </Magegiant_Magegiantcore>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <magegiantcore after="Mage_Adminhtml">Magegiant_Magegiantcore_Adminhtml</magegiantcore>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<events>
			<controller_action_predispatch>
				<observers>
				  <magegiant_magegiantcore_observer>
					<type>singleton</type>
					<class>magegiantcore/observer</class>
					<method>controllerActionPredispatch</method>
				  </magegiant_magegiantcore_observer>
			   </observers>					
			</controller_action_predispatch>		
		</events>			
		<layout>
			<updates>
				<magegiantcore>
					<file>magegiant/magegiantcore.xml</file>
				</magegiantcore>
			</updates>
		</layout>        
    </adminhtml>   
    <global>
        <models>
            <magegiantcore>
                <class>Magegiant_Magegiantcore_Model</class>
                <resourceModel>magegiantcore_mysql4</resourceModel>
            </magegiantcore>
            <magegiantcore_mysql4>
                <class>Magegiant_Magegiantcore_Model_Mysql4</class>
                <entities>
                    <magegiantcore>
                        <table>magegiantcore</table>
                    </magegiantcore>
                    <feedback>
                        <table>magegiantcore_extension_feedback</table>
                    </feedback>			
                    <feedbackmessage>
                        <table>magegiantcore_extension_feedbackmessage</table>
                    </feedbackmessage>							
                    <logger>
                        <table>magegiantcore_log</table>
                    </logger>
                    <license>
                    	<table>magegiantcore_license</table>
					</license>
                </entities>
            </magegiantcore_mysql4>
        </models>
        <resources>
            <magegiantcore_setup>
                <setup>
                    <module>Magegiant_Magegiantcore</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magegiantcore_setup>
            <magegiantcore_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magegiantcore_write>
            <magegiantcore_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magegiantcore_read>
        </resources>
        <blocks>
            <magegiantcore>
                <class>Magegiant_Magegiantcore_Block</class>
            </magegiantcore>
        </blocks>
        <helpers>
            <magegiantcore>
                <class>Magegiant_Magegiantcore_Helper</class>
            </magegiantcore>
        </helpers>
    </global>
	<default>
		<magegiantcore>
			<general>				
				<frequency>1</frequency>
				<last_update backend_model="magegiantcore/source_time"></last_update>
				<magegiant_url>http://update.magegiant.com/</magegiant_url>
			</general>		
		</magegiantcore>
	</default>		
</config>