<?xml version="1.0"?>
<config>
  <modules>
    <Sunpop_StampCustomer>
      <version>0.1.0</version>
    </Sunpop_StampCustomer>
  </modules>
  <frontend>
    <routers>
      <stampcustomer>
        <use>standard</use>
          <args>
            <module>Sunpop_StampCustomer</module>
            <frontName>stampcustomer</frontName>
          </args>
      </stampcustomer>
    </routers>
		<layout>
		  <updates>
			<stampcustomer>
			  <file>stampcustomer.xml</file>
			</stampcustomer>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <stampcustomer>
        <class>Sunpop_StampCustomer_Helper</class>
      </stampcustomer>
    </helpers>
	<blocks>
	  <stampcustomer>
		<class>Sunpop_StampCustomer_Block</class>
	  </stampcustomer>
	</blocks>
	<models>
	  <stampcustomer>
		<class>Sunpop_StampCustomer_Model</class>
		<resourceModel>stampcustomer_mysql4</resourceModel>
	  </stampcustomer>
	  <stampcustomer_mysql4>
		<class>Sunpop_StampCustomer_Model_Mysql4</class>
		<entities>		  
			  <stampcustomer>
				<table>stampcustomerlist</table>
			  </stampcustomer>
        </entities>
	  </stampcustomer_mysql4>
	</models>
	<resources>
	  <stampcustomer_setup>
		<setup>
		  <module>Sunpop_StampCustomer</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </stampcustomer_setup>
	  <stampcustomer_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </stampcustomer_write>
	  <stampcustomer_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </stampcustomer_read>
	</resources>
  </global>
   <admin>
    <routers>
        <adminhtml>
            <args>
                <modules>
                    <Sunpop_StampCustomer_Adminhtml before="Mage_Adminhtml">Sunpop_StampCustomer_Adminhtml</Sunpop_StampCustomer_Adminhtml>
                </modules>
            </args>
        </adminhtml>
    </routers>
	</admin>
  <adminhtml>
	<menu>
	  <stampcustomer module="stampcustomer">
		<title>StampCustomer</title>
		<sort_order>100</sort_order>
		<children>
		  <stampcustomer module="stampcustomer">
		    <title>Manage Stampcustomer</title>
			<sort_order>0</sort_order>
			<action>adminhtml/stampcustomer/index</action>
		  </stampcustomer>
		</children>
	  </stampcustomer>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<stampcustomer translate="title" module="stampcustomer">
			  <title>StampCustomer</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <stampcustomer translate="title">
			<title>Manage Stampcustomer</title>
			<sort_order>0</sort_order>
		  </stampcustomer>
			  </children>
			</stampcustomer>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<stampcustomer>
		  <file>stampcustomer.xml</file>
		</stampcustomer>
	  </updates>
	</layout>
  </adminhtml>
</config> 