<?xml version="1.0"?>
<!-- 
/**
* @category   FME
* @package    FME_Productattachments
* @author     ModuleCreator
* @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config>
    <modules>
        <FME_Productattachments>
            <version>2.3.0</version>
        </FME_Productattachments>
    </modules>
    <frontend>
        <routers>
            <productattachments>
                <use>standard</use>
                <args>
                    <module>FME_Productattachments</module>
                    <frontName>productattachments</frontName>
                </args>
            </productattachments>
        </routers>
        <layout>
            <updates>
                <productattachments module="productattachments">
                    <file>productattachments.xml</file>
                </productattachments>
            </updates>
        </layout>
    </frontend>
     <admin> 
        <routers> 
            <adminhtml> 
                <args> 
                    <modules> 
                        <productattachments after="Mage_Adminhtml">FME_Productattachments_Adminhtml</productattachments> 
                        <frontName>productattachments</frontName> 
                    </modules> 
                </args> 
            </adminhtml> 
        </routers> 
    </admin> 
    <adminhtml>
        
        <translate>
            <modules>
                <FME_Productattachments>
                    <files>
                        <default>FME_Productattachments.csv</default>
                    </files>
                </FME_Productattachments>
            </modules>
        </translate>
        <layout>
            <updates>
                <productattachments>
                    <file>productattachments.xml</file>
                </productattachments>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <productattachments>
                <class>FME_Productattachments_Model</class>
                <resourceModel>productattachments_mysql4</resourceModel>
            </productattachments>
            <productattachments_mysql4>
                <class>FME_Productattachments_Model_Mysql4</class>
                <entities>
                    <productattachments>
                        <table>productattachments</table>
                    </productattachments>
                    <productattachments_store>
                        <table>productattachments_store</table>
                    </productattachments_store>
                    <productattachments_products>
                        <table>productattachments_products</table>
                    </productattachments_products>
                    <productcats>
                        <table>productattachments_cats</table>
                    </productcats>
                    <productattachments_category_store>
                        <table>productattachments_category_store</table>
                    </productattachments_category_store>
                    <productattachments_category_link>
                        <table>productattachments_category_link</table>
                    </productattachments_category_link>
                </entities>
            </productattachments_mysql4>
        </models>
        <resources>
            <productattachments_setup>
                <setup>
                    <module>FME_Productattachments</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productattachments_setup>
            <productattachments_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productattachments_write>
            <productattachments_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productattachments_read>
        </resources>
        <blocks>
            <productattachments>
                <class>FME_Productattachments_Block</class>
            </productattachments>
            <!--<adminhtml>
                <rewrite>
                    <catalog_product_edit_tabs>FME_Productattachments_Block_Catalog_Product_Edit_Tabs</catalog_product_edit_tabs>
                </rewrite>
            </adminhtml>-->
        </blocks>
        <helpers>
            <productattachments>
                <class>FME_Productattachments_Helper</class>
            </productattachments>
        </helpers>
        <!--<rewrite>
            <productattachments_adminhtml_catalog_product>
                <from><![CDATA[#^/adminhtml/catalog/product/#]]></from>
                <to>/adminhtml/catalog/product/</to>
            </productattachments_adminhtml_catalog_product>
        </rewrite>-->
    </global>
</config>
