<?xml version="1.0"?>
<config>
    <modules>
        <Smartwave_Blog>
            <version>1.3.5</version><platform>ce</platform>
        </Smartwave_Blog>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <smartwaveblog after="Mage_Adminhtml">Smartwave_Blog_Adminhtml</smartwaveblog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <blog>
                <use>standard</use>
                <args>
                    <module>Smartwave_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
        <layout>
            <updates>
                <blog module="Smartwave_Blog">
                    <file>smartwave_blog.xml</file>
                </blog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Smartwave_Blog>
                    <files>
                        <default>Smartwave_Blog.csv</default>
                    </files>
                </Smartwave_Blog>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Smartwave_Blog>
                    <files>
                        <default>Smartwave_Blog.csv</default>
                    </files>
                </Smartwave_Blog>
            </modules>
        </translate>

        <menu>
            <blog module="blog">
                <title>Blog</title>
                <sort_order>71</sort_order>
                <children>
                    <new module="blog">
                        <title>Add Post</title>
                        <sort_order>0</sort_order>
                        <action>adminhtml/smartwaveblog_manage_blog/new</action>
                    </new>
                    <posts module="blog">
                        <title>Posts</title>
                        <sort_order>10</sort_order>
                        <action>adminhtml/smartwaveblog_manage_blog/index</action>
                    </posts>
                    <comment module="blog">
                        <title>Comments</title>
                        <sort_order>20</sort_order>
                        <action>adminhtml/smartwaveblog_manage_comment</action>
                    </comment>
                    <cat module="blog">
                        <title>Categories</title>
                        <sort_order>30</sort_order>
                        <action>adminhtml/smartwaveblog_manage_cat</action>
                    </cat>
                    <settings translate="title" module="blog">
                        <title>Settings</title>
                        <action>adminhtml/system_config/edit/section/blog</action>
                        <sort_order>40</sort_order>
                    </settings>
                </children>
            </blog>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <blog>
                            <title>Blog</title>
                            <sort_order>70</sort_order>
                            <children>
                                <posts>
                                    <title>Manage Posts</title>
                                    <sort_order>0</sort_order>
                                </posts>
                                <comment>
                                    <title>Manage Comments</title>
                                    <sort_order>1</sort_order>
                                </comment>
                                <cat>
                                    <title>Manage Categories</title>
                                    <sort_order>2</sort_order>
                                </cat>
                            </children>
                        </blog>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <blog>
                                            <title>Smartwave Blog Section</title>
                                        </blog>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <blog module="Smartwave_Blog">
                    <file>smartwave_blog.xml</file>
                </blog>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <blog>
                <class>Smartwave_Blog_Model</class>
                <resourceModel>blog_mysql4</resourceModel>
            </blog>
            <blog_mysql4>
                <class>Smartwave_Blog_Model_Mysql4</class>
                <entities>
                    <blog>
                        <table>smartwave_blog</table>
                    </blog>
                    <post>
                        <table>smartwave_blog</table>
                    </post>
                    <comment>
                        <table>smartwave_blog_comment</table>
                    </comment>
                    <cat>
                        <table>smartwave_blog_cat</table>
                    </cat>
                    <post_cat>
                        <table>smartwave_blog_post_cat</table>
                    </post_cat>
                    <store>
                        <table>smartwave_blog_store</table>
                    </store>
                    <cat_store>
                        <table>smartwave_blog_cat_store</table>
                    </cat_store>
                    <tag>
                        <table>smartwave_blog_tags</table>
                    </tag>


                    <lblog>
                        <table>blog</table>
                    </lblog>
                    <lpost>
                        <table>blog</table>
                    </lpost>
                    <lcomment>
                        <table>blog_comment</table>
                    </lcomment>
                    <lcat>
                        <table>blog_cat</table>
                    </lcat>
                    <lpost_cat>
                        <table>blog_post_cat</table>
                    </lpost_cat>
                    <lstore>
                        <table>blog_store</table>
                    </lstore>

                    <lcat_store>
                        <table>blog_cat_store</table>
                    </lcat_store>

                </entities>
            </blog_mysql4>
            <sitemap>
                <rewrite>
                    <sitemap>Smartwave_Blog_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
        </models>
        <blocks>
            <blog>
                <class>Smartwave_Blog_Block</class>
            </blog>
            <rss>
                <rewrite></rewrite>
                <drewrite>
                    <list>Smartwave_Blog_Block_Rss_List</list>
                </drewrite>
            </rss>
        </blocks>
        <resources>
            <blog_setup>
                <setup>
                    <module>Smartwave_Blog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blog_setup>
            <blog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blog_write>
            <blog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blog_read>
        </resources>
        <helpers>
            <blog>
                <class>Smartwave_Blog_Helper</class>
            </blog>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <blog>
                        <type>singleton</type>
                        <class>Smartwave_Blog_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </blog>
                </observers>
            </controller_front_init_routers>
            <controller_action_predispatch>
                <observers>
                    <blog>
                        <type>singleton</type>
                        <class>blog/observer</class>
                        <method>rewriteRssList</method>
                    </blog>
                </observers>
            </controller_action_predispatch>
            <sitemap_add_xml_block_to_the_end>
                <observers>
                    <add_blog_section>
                        <type>singleton</type>
                        <class>blog/observer</class>
                        <method>addBlogSection</method>
                    </add_blog_section>
                </observers>
            </sitemap_add_xml_block_to_the_end>
        </events>
        <template>
            <email>
                <blog_comments_email_template translate="label" module="blog">
                    <label>Comment Submitted</label>
                    <file>smartwave_blog/comment_submitted.html</file>
                    <type>text</type>
                </blog_comments_email_template>
            </email>
        </template>
        <!-- compatibility with Magento 1.4.x -->
        <page>
            <layouts>
                <empty>
                    <label>Empty</label>
                    <template>page/empty.phtml</template>
                    <layout_handle>page_empty</layout_handle>
                </empty>
            </layouts>
        </page>
        <!-- compatibility with Magento 1.4.x -->
    </global>
    <default>
        <sitemap>
            <blog>
                <changefreq>weekly</changefreq>
                <priority>0.5</priority>
            </blog>
        </sitemap>
        <blog>
            <blog>
                <enabled>1</enabled>
                <title>Blog</title>
                <footerEnabled>1</footerEnabled>
                <menuRight>1</menuRight>
                <topEnabled>1</topEnabled>
                <blogcrumbs>1</blogcrumbs>
                <recent>5</recent>
                <dateformat>medium</dateformat>
                <layout>page/2columns-right.phtml</layout>
                <comments>1</comments>
                <useshortcontent>1</useshortcontent>
                <rss>1</rss>
                <rssimage>images/BlogLogo.png</rssimage>
                <parse_cms>0</parse_cms>
                <categories_urls>1</categories_urls>
            </blog>
            <comments>
                <page_count>10</page_count>
            </comments>
            <menu>
                <category>1</category>
                <tagcloud_size>10</tagcloud_size>
            </menu>
        </blog>
    </default>
</config>
