<?xml version="1.0"?>
<config>
    <sections>
        <dailydeal translate="label" module="dailydeal">
            <class>separator-top</class>
            <label>Daily deal</label>
            <tab>swextensions</tab>
            <frontend_type>text</frontend_type>
            <sort_order>299</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>

                        <enable translate="label">
                            <label>Enable Daily Deal</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>

                        <limit translate="label">
                            <label>Maximum Qty Allowed in Shopping Cart</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Leave blank for no limitation</comment>
                        </limit>
                    </fields>
                </general>
                <sidebar translate="label">
                    <label>Sidebar Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Enable Sidebar</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Show Deals on Sidebar</comment>
                        </enable>

                        <show_left translate="label">
                            <label>Show on Left</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>20</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Show Deals on Left Sidebar</comment>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </show_left>

                        <left_title translate="label">
                            <label>Left Sidebar Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                            <depends>
                                <show_left>1</show_left>
                            </depends>
                        </left_title>


                        <left_limit translate="label">
                            <label>Number of deals on Left Sidebar</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                            <depends>
                                <show_left>1</show_left>
                            </depends>
                        </left_limit>


                        <left_display_method translate="label">
                            <label>Left Display Method</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>22</sort_order>
                            <source_model>dailydeal/system_config_display</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Show Deals on Left Sidebar</comment>
                            <depends>
                                <show_left>1</show_left>
                            </depends>
                        </left_display_method>


                        <show_right translate="label">
                            <label>Show on Right</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>30</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Show Deals on Right Sidebar</comment>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </show_right>



                        <right_title translate="label">
                            <label>Right Sidebar Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>31</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                            <depends>
                                <show_left>1</show_left>
                            </depends>
                        </right_title>

                        <right_limit translate="label">
                            <label>Number of deals on Right Sidebar</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>32</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                            <depends>
                                <show_right>1</show_right>
                            </depends>
                        </right_limit>

                        <right_display_method translate="label">
                            <label>Right Display Method</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>34</sort_order>
                            <source_model>dailydeal/system_config_display</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                            <depends>
                                <show_right>1</show_right>
                            </depends>
                        </right_display_method>


                    </fields>
                </sidebar>
            </groups>
        </dailydeal>
    </sections>
</config>