<?xml version="1.0"?>
<config>
    <modules>
        <Achang_ChinaCheckout>
            <version>0.1.0</version>
        </Achang_ChinaCheckout>
    </modules>
    <global>
        <models>
            <chinacheckout>
                <class>Achang_ChinaCheckout_Model</class>
            </chinacheckout>
        </models>
        <blocks>
            <chinacheckout>
                <class>Achang_ChinaCheckout_Block</class>
            </chinacheckout>
            <checkout>
                <rewrite>
                    <onepage>Achang_ChinaCheckout_Block_Checkout_Onepage</onepage>
                    <onepage_billing>Achang_ChinaCheckout_Block_Checkout_Onepage_Billing</onepage_billing>
                </rewrite>
            </checkout>
            <customer>
                <rewrite>
                    <account_dashboard_address>Achang_ChinaCheckout_Block_Customer_Account_Dashboard_Address</account_dashboard_address>
                </rewrite>
            </customer>

        </blocks>
        <helpers>
            <chinacheckout>
                <class>Achang_ChinaCheckout_Helper</class>
            </chinacheckout>
        </helpers>
    </global>
</config>