<?xml version="1.0"?>

<config>
    <modules>
        <Alipaymate_Weixinlogin>
            <version>2.0</version>
        </Alipaymate_Weixinlogin>
    </modules>
    <global>
        <models>
		  <weixinlogin>
			<class>Alipaymate_Weixinlogin_Model</class>
			<resourceModel>weixinlogin_mysql4</resourceModel>
		  </weixinlogin>
		  <weixinlogin_mysql4>
			<class>Alipaymate_Weixinlogin_Model_Mysql4</class>
			<entities>		  
				  <sociallogin>
					<table>social_login_weixin</table>
				  </sociallogin>
				  <identifiers>
                        <table>social_login_weixin</table>
                    </identifiers>
			</entities>
		  </weixinlogin_mysql4>
		</models>
		<resources>
		  <weixinlogin_setup>
			<setup>
			  <module>Alipaymate_Weixinlogin</module>
			</setup>
			<connection>
			  <use>core_setup</use>
			</connection>
		  </weixinlogin_setup>
		  <weixinlogin_write>
			<connection>
			  <use>core_write</use>
			</connection>
		  </weixinlogin_write>
		  <weixinlogin_read>
			<connection>
			  <use>core_read</use>
			</connection>
		  </weixinlogin_read>
		</resources>

        <blocks>
            <weixinlogin>
                <class>Alipaymate_Weixinlogin_Block</class>
            </weixinlogin>
        </blocks>
	
        <helpers>
            <weixinlogin>
                <class>Alipaymate_Weixinlogin_Helper</class>
            </weixinlogin>
        </helpers>						
		<rewrite>			
			<weixinlogin_account>		
				<from><![CDATA[#^/customer/account/#]]></from>			
				<to>weixinlogin/account/</to>			
			</weixinlogin_account>			
		</rewrite>		
    </global>

    <frontend>
        <routers>
            <weixinlogin>
                <use>standard</use>
                <args>
                    <module>Alipaymate_Weixinlogin</module>
                    <frontName>weixinlogin</frontName>
                </args>
            </weixinlogin>
        </routers>
        <translate>
            <modules>
                <Alipaymate_Weixinlogin>
                    <files>
                        <default>Alipaymate_Weixinlogin.csv</default>
                    </files>
                </Alipaymate_Weixinlogin>
            </modules>
        </translate>
        <layout>
            <updates>
                <weixinlogin>
                    <file>weixinlogin.xml</file>
                </weixinlogin>
            </updates>
        </layout>
    </frontend>

	 
	 <admin>
	  <routers>
        <adminhtml>
            <args>
                <modules>
                    <Alipaymate_Weixinlogin_Adminhtml before="Mage_Adminhtml">Alipaymate_Weixinlogin_Adminhtml</Alipaymate_Weixinlogin_Adminhtml>
                </modules>
            </args>
        </adminhtml>
    </routers>
	</admin>
   <adminhtml>
        <translate>
            <modules>
                <Alipaymate_Weixinlogin>
                    <files>
                        <default>Alipaymate_Weixinlogin.csv</default>
                    </files>
                </Alipaymate_Weixinlogin>
            </modules>
        </translate>
		
			<menu>
				<customer translate="title" module="customer">
					<children>
					  <weixinlogin module="weixinlogin">
						<title>Wechat fans</title>
						<sort_order>120</sort_order>
						<action>adminhtml/sociallogin/index</action>
					  </weixinlogin>
					</children>
				</customer>
			</menu>
			<acl>
			  <resources>
				<all>
				  <title>Allow Everything</title>
				</all>
				<admin>
				  <children>
					<customer translate="title" module="customer">
					  <children>
					  <weixinlogin translate="title">
						<title>Wechat fans</title>
						<sort_order>0</sort_order>
					  </weixinlogin>
					</children>
					</customer>
				  </children>
				</admin>
			  </resources>
			</acl>
		<layout>
		  <updates>
			<weixinlogin>
			  <file>weixinlogin.xml</file>
			</weixinlogin>
		  </updates>
		</layout>
    </adminhtml>
</config>