<?xml version="1.0"?>
<config>
    <modules>
        <Alipaymate_WeixinMobile>
            <version>6.0</version>
        </Alipaymate_WeixinMobile>
    </modules>
    <global>
        <models>
            <weixinmobile>
                <class>Alipaymate_WeixinMobile_Model</class>
                <resourceModel>weixinmobile_resource</resourceModel>
            </weixinmobile>

            <weixinmobile_resource>
                <class>Alipaymate_WeixinMobile_Model_Resource</class>
                <deprecatedNode>weixinmobile_mysql4</deprecatedNode>
            </weixinmobile_resource>
        </models>

        <blocks>
            <weixinmobile>
                <class>Alipaymate_WeixinMobile_Block</class>
            </weixinmobile>
        </blocks>

        <helpers>
            <weixinmobile>
                <class>Alipaymate_WeixinMobile_Helper</class>
            </weixinmobile>
        </helpers>
    </global>

    <frontend>
        <secure_url>
            <weixinmobile_processing>/weixinmobile/processing</weixinmobile_processing>
        </secure_url>
        <routers>
            <weixinmobile>
                <use>standard</use>
                <args>
                    <module>Alipaymate_WeixinMobile</module>
                    <frontName>weixinmobile</frontName>
                </args>
            </weixinmobile>
        </routers>
        <translate>
            <modules>
                <Alipaymate_WeixinMobile>
                    <files>
                        <default>Alipaymate_WeixinMobile.csv</default>
                    </files>
                </Alipaymate_WeixinMobile>
            </modules>
        </translate>
        <layout>
            <updates>
                <weixinmobile>
                    <file>alipaymate/weixinmobile.xml</file>
                </weixinmobile>
            </updates>
        </layout>
    </frontend>


   <adminhtml>
        <translate>
            <modules>
                <Alipaymate_WeixinMobile>
                    <files>
                        <default>Alipaymate_WeixinMobile.csv</default>
                    </files>
                </Alipaymate_WeixinMobile>
            </modules>
        </translate>

        <events>
            <controller_action_predispatch>
                <observers>
                    <alipaymate_alipay_notification>
                        <type>singleton</type>
                        <class>weixinmobile/feed</class>
                        <method>check</method>
                    </alipaymate_alipay_notification>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>

    <default>
        <payment>
            <weixinmobile>
                  <model>weixinmobile/payment</model>
                  <title> 微信支付 </title>
                  <show_logo>1</show_logo>
                  <enable_repay>1</enable_repay>
                  <debug>1</debug>
                  <order_status_payment_accepted>processing</order_status_payment_accepted>
                  <allowspecific>0</allowspecific>
                  <license>1c953fb1676e2781939713d8e25229f9010d5d49</license>
            </weixinmobile>
        </payment>
    </default>
</config>